<ActionBar>
    <Label text="Search"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <StackLayout class="form" >

        <TextField class="input" hint="Capital" [(ngModel)]="name"></TextField>
    
        <Button text="Search" class="btn btn-primary" (tap)="searchCapital()"></Button>
    
        <ListView [items]="countries" height="650">
            <ng-template let-item="item">
                <StackLayout>
                    <Label [text]="item.name"></Label>
                    <Label [text]="item.capital"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    
    </StackLayout>
</GridLayout>